 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 html, body{
     height: 100%;
 }

 h1{
     color:red;
 }

 .container{
     display: flex;
     flex-direction: column;
     max-width: 1140px;
     margin: 0 auto;
     height: 100%;
 }
 header,footer{
     background-color: aqua;
 }
 .content{
     display: flex;
     flex-grow: 1;
 }
 aside{
     background-color: rgb(31, 179, 171);
 }
 main{
     background-color: lightcoral;
     flex-grow: 1;
 }